@font-face {
    font-family: 'ghost_clanregular';
    src: url('fonts/ghostclan-webfont.woff2') format('woff2'),
        url('fonts/ghostclan-webfont.woff') format('woff'),
        url('fonts/ghostclan.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}